.spinning {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deb);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

#status-board {
  position: absolute;
  color: #12273b;
  top: 123px;
  width: 392px;
  height: 238px;
  left: 10px;
}

.dropSheet {
  padding: 20px;
  background-color: white;
  background-image: none;
  opacity: 0.6;
  filter: alpha(opacity=50);
}

.add-button {
  opacity: 1;
  position: absolute;
  top: 365px;
  left: 150px;
}

.remove-button {
  opacity: 1;
  position: absolute;
  top: 365px;
  left: 200px;
}

.review-text {
  color: #12273b;
  height: 60px;
}

.modal-profile-text {
  display: inline-block;
  font-size: 30px;
}
